{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<div id="titre"></div>
		<div id="crypt" currency={{ currency }} currencySymbol={{ currencySymbol }} symbol={{ symbol }}></div>
	</div>
{% endblock %}
