{% extends "base.html.twig" %}

{% block body %}
	<div class="container">

		<h1 id="titre"></h1>
		<h1 id="titre_crypto" currency={{ currency }} symbol={{ symbol }}></h1>

		<div id="crypt" currency={{ currency }} symbol={{ symbol }}></div>
	</div>
{% endblock %}
