{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<div id="titre"></div>
		<div id="home" currency="{{currency}}" currencySymbol="{{currencySymbol}}"></div>
	</div>
{% endblock %}
